.searchbar-wrapper {
    display: flex;
    align-items: center;
    background-color: #222;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 0.3rem 0.6rem;
    max-width: 400px;
}

.search-icon {
    color: #aaa;
    font-size: 20px;
    margin-right: 0.5rem;
}

.search-input {
    flex-grow: 1; 
    background-color: transparent;
    border: none;
    color: #ccc;
    font-size: 0.9rem;
    outline: none;
    padding: 0.2rem 0; 
    width: 100%; 
}

.search-input::placeholder {
    color: #777;
}